---
layout: default
---
<article class="prose" itemscope itemtype="http://schema.org/BlogPosting">
  {%- if page.date %}
  <p class="post-meta">
    <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
      {{ page.date | date: site.date_format | default: "%b %-d, %Y" }}
    </time>
    {%- assign post_author = page.author | default: site.author -%}
    {%- if post_author %}
      &middot;
      <span itemprop="author" itemscope itemtype="http://schema.org/Person">
        <span itemprop="name">{{ post_author | escape }}</span>
      </span>
    {%- endif %}
  </p>
  {%- endif %}

  <div itemprop="articleBody">
    {{ content }}
  </div>
</article>
